<!DOCTYPE html>
<html lang="zh-CN">
<title>管理中心 - 修改数据 </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/styles/general.css" rel="stylesheet" type="text/css" />
<link href="/styles/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>
        <span class="action-span"><a href="/<?=$tableName?>/index">数据列表</a></span>
        <span class="action-span1"><a href="__GROUP__">管理中心</a></span>
        <span id="search_id" class="action-span1"> - 修改数据 </span>
        <div style="clear:both"></div>
    </h1>
    <div class="main-div">
        <form action="__GROUP__/Category/categoryAdd" method="post" name="theForm" enctype="multipart/form-data">
            <table width="100%" id="general-table">
                <?php foreach($fields as $v): ?>
                <tr>
                    <td class="label">
                        <?=$v['Comment']?>:</td>
                    <td>
                        <?php if($v['Type'] == 'longtext'): ?>
                        <textarea name="<?=$v['Field']?>" id="" cols="70" rows="10"></textarea>
                        <?php elseif(substr($v['Type'],0,4)=='enum'): ?>
                        <input type="radio" name="<?=$v['Field']?>" value="y" checked> 是
                        <input type="radio" name="<?=$v['Field']?>" value="n"> 否
                        <?php else: ?>
                        <input type='text' name="<?=$v['Field']?>" maxlength="20" size='27' />
                        <?php endif; ?>
                        <font color="red">*</font>
                    </td>
                </tr>
                <?php endforeach; ?>
            </table>
            <div class="button-div">
                <input type="submit" value=" 确定 " />
                <input type="reset" value=" 重置 " />
            </div>
        </form>
    </div>

    <?php view('common/footer'); ?>

</body>

</html>