<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>管理中心 - 数据列表 </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/styles/general.css" rel="stylesheet" type="text/css" />
    <link href="/styles/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>
        <span class="action-span"><a href="/<?=$tableName?>/create">添加新记录</a></span>
        <span class="action-span1"><a href="__GROUP__">管理中心</a></span>
        <span id="search_id" class="action-span1"> - 数据列表 </span>
        <div style="clear:both"></div>
    </h1>

    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <?php foreach($fields as $v): ?>
                <th>
                    <?=$v['Comment']?>
                </th>
                <?php endforeach; ?>
                <th>操作</th>
            </tr>
            <?='<?php foreach($data as $v): ?>';?>
            <tr>
                <?php foreach($fields as $v): ?>
                <td>
                    <?='<?=$v[\''.$v['Field'].'\']?>';?></td>
                <?php endforeach; ?>
                <td>
                    <a href="/<?=$tableName?>/edit?id=<?='<?=$v[\'id\']?>';?>">修改</a>
                    <a onclick="return confirm('确定要删除吗？');" href="/<?=$tableName?>/delete?id=<?='<?=$v[\'id\']?>';?>">删除</a>
                </td>
            </tr>
            <?='<?php endforeach; ?>';?>
        </table>

        <!-- 分页开始 -->
        <table id="page-table" cellspacing="0">
            <tr>
                <td width="80%">&nbsp;</td>
                <td align="center" nowrap="true">
                    <?='<?=$page?>';?>
                </td>
            </tr>
        </table>
        <!-- 分页结束 -->
    </div>

    <?="<?=view('common/footer')?>";?>
</body>

</html>