<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>管理中心 - 添加新记录 </title>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/styles/general.css" rel="stylesheet" type="text/css" />
    <link href="/styles/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>
        <span class="action-span"><a href="/goods/index">数据列表</a></span>
        <span class="action-span1"><a href="__GROUP__">管理中心</a></span>
        <span id="search_id" class="action-span1"> - 添加新记录 </span>
        <div style="clear:both"></div>
    </h1>
    <div class="main-div">
        <form action="/goods/insert" method="post" enctype="multipart/form-data">
            <table width="100%" id="general-table">
                <tr>
                    <td class="label">
                        商品名称:</td>
                    <td>
                        <input type='text' size="80" name='goods_name'>
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        LOGO:</td>
                    <td>
                        <input class="preview" type='file' size="80" name='logo'>
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        是否上架:</td>
                    <td>
                        <input type="radio" name="is_on_sale" value="y" checked> 是
                        <input type="radio" name="is_on_sale" value="n"> 否
                        <font color="red">*</font>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        商品描述:</td>
                    <td>
                        <textarea name="description" id="" cols="80" rows="10"></textarea>
                        <font color="red">*</font>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        一级分类ID:</td>
                    <td>
                        <select name="cat1_id" id="">
                            <option value=""></option>
                            <?php foreach($topCat as $v): ?>
                            <option value="<?=$v['id']?>">
                                <?=$v['cat_name']?>
                            </option>
                            <?php endforeach; ?>
                        </select>
                        <font color="red">*</font>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        二级分类ID:</td>
                    <td>
                        <select name="cat2_id" id="">

                        </select>
                        <font color="red">*</font>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        三级分类ID:</td>
                    <td>
                        <select name="cat3_id" id="">
                        </select>
                        <font color="red">*</font>
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        品牌ID:</td>
                    <td>
                        <input type='text' size="80" name='brand_id'>
                        <font color="red">*</font>
                    </td>
                </tr>
            </table>

            <h3>商品属性 <input id="btn-attr" type="button" value="添加一个属性"></h3>
            <div id="attr-container">
                <table width="100%">
                    <tr>
                        <td class="label">属性名称:</td>
                        <td>
                            <input type='text' size="80" name='attr_name[]'>
                            <font color="red">*</font>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">属性值:</td>
                        <td>
                            <input type='text' size="80" name='attr_value[]'>
                            <font color="red">*</font>
                        </td>
                    </tr>
                </table>
            </div>

            <h3>商品图片 <input id="btn-image" type="button" value="添加一个图片"></h3>
            <div id="image-container">
                <table width="100%">
                    <tr>
                        <td class="label"></td>
                        <td>
                            <input class="preview" type='file' name='image[]'>
                            <font color="red">*</font>
                        </td>
                    </tr>
                </table>
            </div>

            <h3>SKU <input id="btn-sku" type="button" value="添加一个sku"></h3>
            <div id="sku-container">
                <table width="100%">
                    <tr>
                        <td class="label">SKU名称:</td>
                        <td>
                            <input type='text' size="80" name='sku_name[]'>
                            <font color="red">*</font>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">库存量:</td>
                        <td>
                            <input type='text' size="80" name='stock[]'>
                            <font color="red">*</font>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">价格:</td>
                        <td>
                            ￥ <input type='text' size="10" name='price[]'> 元
                            <font color="red">*</font>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="button-div">
                <input type="submit" value="确定" />
                <input type="reset" value="重置" />
            </div>
        </form>
    </div>

    <?=view('common/footer')?>
</body>

</html>

<script src="/js/jquery.min.js"></script>
<script src="/js/img_preview.js"></script>

<script>
    // 三级联动
    $("select[name=cat1_id]").change(function () {
        var id = $(this).val();
        if (id != '') {
            $.ajax({
                type: 'GET',
                url: '/goods/ajax_get_cat?id=' + id,
                dataType: 'JSON',
                success: function (data) {
                    var str = "";
                    for (var i = 0; i < data.data.length; i++) {
                        str += '<option value="' + data.data[i].id + '">' + data.data[i].cat_name + '</option>';
                    }

                    $("select[name='cat2_id']").html(str);
                    $("select[name='cat2_id']").trigger('change');
                }
            });
        }
    });

    $("select[name=cat2_id]").change(function () {
        var id = $(this).val();
        if (id != '') {
            $.ajax({
                type: 'GET',
                url: '/goods/ajax_get_cat?id=' + id,
                dataType: 'JSON',
                success: function (data) {
                    var str = "";
                    for (var i = 0; i < data.data.length; i++) {
                        str += '<option value="' + data.data[i].id + '">' + data.data[i].cat_name + '</option>';
                    }

                    $("select[name='cat3_id']").html(str);
                }
            });
        }
    });


    function del_attr(o) {
        var table = $(o).parent().parent().parent().parent();
        table.prev('hr').remove();
        table.remove();
    }

    // 商品属性
    var attrStr = `<hr><table width="100%">
                    <tbody>
                        <tr>
                            <td class="label">属性名称:</td>
                            <td>
                                <input type='text' size="80" name='attr_name[]'>
                                <font color="red">*</font>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">属性值:</td>
                            <td>
                                <input type='text' size="80" name='attr_value[]'>
                                <font color="red">*</font>
                            </td>
                        </tr>
                        <tr> 
                            <td class="label"></td>
                            <td>
                                <input type='button' onclick='del_attr(this)' size="80" value='删除'>                              
                            </td>
                        </tr>
                    </tbody>
                </table>
                `;
    // 为按钮添加绑定事件
    $("#btn-attr").click(function () {
        $("#attr-container").append(attrStr);
    });

    // 商品图片
    var imageStr = `<hr><table width="100%">
                    <tbody>
                        <tr>
                            <td class="label"></td>
                            <td>
                                <input class="preview" type='file' name='image[]'>
                                <font color="red">*</font>
                            </td>
                        </tr>
                        <tr>
                            <td class="label"></td>
                            <td>
                                <input type='button' onclick='del_attr(this)' size="80" value='删除'>           
                            </td>
                        </tr>
                    </tbody>
                </table>`;

    $("#btn-image").click(function () {
        $("#image-container").append(imageStr);

        // 绑定预览事件
        $(".preview").change(function () {
            // 获取选择的图片
            var file = this.files[0];
            // 转成字符串
            var str = getObjectUrl(file);
            // 先删除上一个
            $(this).prev('.img_preview').remove();
            // 在框的前面放一个图片
            $(this).before("<div class='img_preview'><img src='" + str + "' width='120' height='120'></div>");
        });
    });

    // 商品sku
    var skuStr = `<h3><table width="100%">
                    <tbody>
                        <tr>
                            <td class="label">SKU名称:</td>
                            <td>
                                <input type='text' size="80" name='sku_name[]'>
                                <font color="red">*</font>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">库存量:</td>
                            <td>
                                <input type='text' size="80" name='stock[]'>
                                <font color="red">*</font>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">价格:</td>
                            <td>
                                ￥ <input type='text' size="10" name='price[]'> 元
                                <font color="red">*</font>
                            </td>
                        </tr>

                        <tr>
                            <td class="label">价格:</td>
                            <td>
                                <input type='button' onclick='del_attr(this)' size="80" value='删除'>          
                            </td>
                        </tr>
                    </tbody>
                </table>`;

    $("#btn-sku").click(function () {
        $("#sku-container").append(skuStr);
    });
</script>