<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>管理中心 - 数据列表 </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/styles/general.css" rel="stylesheet" type="text/css" />
    <link href="/styles/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>
        <span class="action-span"><a href="/goods/create">添加新记录</a></span>
        <span class="action-span1"><a href="__GROUP__">管理中心</a></span>
        <span id="search_id" class="action-span1"> - 数据列表 </span>
        <div style="clear:both"></div>
    </h1>

    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>
                    ID </th>
                <th>
                    商品名称 </th>
                <th>
                    LOGO </th>
                <th>
                    是否上架 </th>
                <th>
                    商品描述 </th>
                <th>
                    一级分类ID </th>
                <th>
                    二级分类ID </th>
                <th>
                    三级分类ID </th>
                <th>
                    品牌ID </th>
                <th>
                    添加时间 </th>
                <th>操作</th>
            </tr>
            <?php foreach($data as $v): ?>
            <tr>
                <td>
                    <?=$v['id']?>
                </td>
                <td>
                    <?=$v['goods_name']?>
                </td>
                <td>
                    <?=$v['logo']?>
                </td>
                <td>
                    <?=$v['is_on_sale']?>
                </td>
                <td>
                    <?=$v['description']?>
                </td>
                <td>
                    <?=$v['cat1_id']?>
                </td>
                <td>
                    <?=$v['cat2_id']?>
                </td>
                <td>
                    <?=$v['cat3_id']?>
                </td>
                <td>
                    <?=$v['brand_id']?>
                </td>
                <td>
                    <?=$v['created_at']?>
                </td>
                <td>
                    <a href="/goods/edit?id=<?=$v['id']?>">修改</a>
                    <a onclick="return confirm('确定要删除吗？');" href="/goods/delete?id=<?=$v['id']?>">删除</a>
                </td>
            </tr>
            <?php endforeach; ?>
        </table>

        <!-- 分页开始 -->
        <table id="page-table" cellspacing="0">
            <tr>
                <td width="80%">&nbsp;</td>
                <td align="center" nowrap="true">
                    <?=$page?>
                </td>
            </tr>
        </table>
        <!-- 分页结束 -->
    </div>

    <?=view('common/footer')?>
</body>

</html>